@theme "/dev/null"
@theme "~/.config/rofi/colors.rasi"


configuration {
  font: "JetBrains Mono Bold 16";
  location: 0;
  show-icons: true;
  hide-scrollbar: true;
}


* {
  background-color: transparent;
  text-color: @text;
  margin: 0px;
  padding: 0px;
}


window {
  transparency: "real";
  location: center;
  anchor: center;
  fullscreen: false;
  width: 90%;
  height: 500px;

  enabled: true;
  border: 4px;
  border-radius: 14px;
  border-color: @blue;
  cursor: "default";
  background-color: @mantle;
}


mainbox {
  enabled: true;
  spacing: 20px;
  padding: 25px;
  background-color: transparent;
  orientation: vertical;
  children: [ "inputbar", "listview" ];
}


inputbar {
  enabled: true;
  spacing: 15px;
  padding: 10px;
  margin: 0px 20% 0px 20%;
  border-radius: 25px;
  background-color: @surface0;
  text-color: @text;
  children: [ "entry" ];
}

entry {
  enabled: true;
  background-color: inherit;
  text-color: @text;
  cursor: text;
  placeholder: "search wallpapers";
  vertical-align: 0.5;
  padding: 10px;
  margin: 0px 0px 0px 330px;
}


listview {
  enabled: true;
  columns: 5;
  lines: 1;
  cycle: true;
  dynamic: true;
  scrollbar: false;
  layout: vertical;
  reverse: false;
  fixed-height: true;
  fixed-columns: true;
  spacing: 20px;
  background-color: transparent;
  cursor: "default";
  flow: horizontal;
}


element {
  enabled: true;
  orientation: vertical;
  spacing: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
  text-color: @text;
  cursor: pointer;
}


element selected.normal {
  background-color: @surface0;
  border: 4px;
  border-color: @blue;
  text-color: @blue;
}


element-icon {
  size: 200px; 
  cursor: inherit;
  background-color: transparent;
  horizontal-align: 0.5;
}


element-text {
  vertical-align: 0.5;
  horizontal-align: 0.5;
  background-color: transparent;
  text-color: inherit;
  cursor: inherit;
}
