@define-color background #272e33;
@define-color foreground #d3c6aa;
@define-color black #414b50;
@define-color red #e67e80;
@define-color green #a7c080;
@define-color yellow #dbbc7f;
@define-color blue #7fbbb3;
@define-color magenta #d699b6;
@define-color cyan #83c092;
@define-color white #d3c6aa;


* {
  font-family: "JetBrains Mono NF";
  font-size: 20px;
  font-weight: bold;
  border-radius: 0px;
}


window#waybar {
  border-radius: 0;
  background: @background;
}


menu {
  border-radius: 0px;
  background: @background;
  color: @foreground;
}


#workspaces button {
  padding: 0px 12px;
  background: @background;
  color: @foreground;
}


#workspaces button:hover {
  background: @background;
  color: @foreground;
  border: none;
  box-shadow: none;
  transition: none;
}


#workspaces button.active {
  padding: 0px 12px;
  background: @green;
  color: @black;
}


#window,
#pulseaudio,
#language,
#tray,
#memory,
#disk,
#battery {
  padding: 0px 10px;
  background: @background;
  color: @foreground;
}


#pulseaudio {
  color: @green;
}


#pulseaudio.muted {
  color: @red;
}

#language {
  color: @yellow;
}


/* #tray { */
/*   padding: 0px 10px; */
/*   color: @foreground; */
/* } */


#clock {
  margin: 0px 6px 0px 0px;
  padding: 0px 10px;
  color: @blue;
}
