@theme "/dev/null"
@theme "~/.config/rofi/colors.rasi"


configuration {
  modi: "drun";
  drun-display-format: "{icon} {name}";
  font: "JetBrains Mono Medium 16";
  show-icons: true;
  icon-theme: "Papirus-Dark";
}


window {
  transparency: "real";
  location: center;
  anchor: center;
  fullscreen: false;
  width: 1000px;
  x-offset: 0px;
  y-offset: 0px;

  enabled: true;
  border: 2px solid;
  border-color: @base;
  border-radius: 10px;
  cursor: "default";
  background-color: @base;
}


mainbox {
  enabled: true;
  spacing: 0px;
  background-color: transparent;
  orientation: horizontal;
  children: [ "imagebox", "listbox" ];
}


imagebox {
  padding: 20px;
  background-color: transparent;
  background-image: url("~/.config/hypr/wallpapers/1.png", height);
  orientation: vertical;
  children: [ "inputbar", "dummy" ];
}


listbox {
  spacing: 20px;
  padding: 20px;
  background-color: transparent;
  orientation: vertical;
  children: [ "message", "listview" ];
}


dummy {
  background-color: transparent;
}


inputbar {
  enabled: true;
  spacing: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: @base;
  text-color: @text;
  children: [ "entry" ];
}


entry {
  enabled: true;
  background-color: inherit;
  text-color: inherit;
  cursor: text;
  placeholder: "Search...";
  placeholder-color: inherit;
}


button {
  padding: 15px;
  border-radius: 10px;
  background-color: @base;
  text-color: inherit;
  cursor: pointer;
}


button selected {
  background-color: @blue;
  text-color: @mantle;
}


listview {
  enabled: true;
  columns: 1;
  lines: 8;
  cycle: true;
  dynamic: true;
  scrollbar: false;
  layout: vertical;
  reverse: false;
  fixed-height: true;
  fixed-columns: true;

  spacing: 10px;
  background-color: transparent;
  text-color: @text;
  cursor: "default";
}

element {
  enabled: true;
  spacing: 15px;
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
  text-color: @text;
  cursor: pointer;
}


element normal.normal {
  background-color: inherit;
  text-color: inherit;
}


element normal.urgent {
  background-color: @text;
  text-color: @text;
}


element normal.active {
  background-color: @blue;
  text-color: @text;
}


element selected.normal {
  background-color: @blue;
  text-color: @mantle;
}


element selected.urgent {
  background-color: @text;
  text-color: @mantle;
}


element selected.active {
  background-color: @text;
  text-color: @mantle;
}


element-icon {
  background-color: transparent;
  text-color: inherit;
  size: 32px;
  cursor: inherit;
}


element-text {
  background-color: transparent;
  text-color: inherit;
  cursor: inherit;
  vertical-align: 0.5;
  horizontal-align: 0.0;
}


message {
  background-color: transparent;
}


textbox {
  padding: 15px;
  border-radius: 10px;
  background-color: @base;
  text-color: @text;
  vertical-align: 0.5;
  horizontal-align: 0.0;
}


error-message {
  padding: 15px;
  border-radius: 20px;
  background-color: @base;
  text-color: @text;
}
