@theme "/dev/null"
@theme "~/.config/rofi/colors.rasi"


configuration {
  font: "JetBrains Mono Medium 14";
  location: 0;
  show-icons: false;
  hide-scrollbar: true;
}


element-text, element-icon {
  background-color: inherit;
  text-color: inherit;
}


window {
  width: 575;
  height: 400px;
  background-color: @base;
  border: 4px;
  border-color: @blue;
  border-radius: 14px;
}


mainbox {
  background-color: @base;
}


inputbar {
  children: [ "entry" ];
  background-color: @base;
  border-radius: 5px;
  padding: 2px;
}


entry {
  padding: 6px;
  margin: 20px 0px 0px 30px;
  text-color: @text;
  background-color: @base;
  placeholder: "Search...";
  placeholder-color: @subtext0;
  blink: true;
}


listview {
  columns: 1;
  background-color: @base;
  border: 0px 0px 0px 0px;
  padding: 8px 15px 8px 15px;
  margin: 10px 0px 0px 20px;
}


element {
  padding: 5px;
  background-color: @base;
  text-color: @text;
}


element selected {
  text-color: @blue;
}
