@define-color bg rgba(30, 30, 46, 0.8);
@define-color accent #89b4fa;
@define-color dark #11111b;


window {
  background-color: @bg;
  transition-property: background-color;
  transition-duration: 0.5s;
}


button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  box-shadow: 0px 0px 0px 0px transparent;
  border-radius: 10px;
  margin: 10px;
}


button:focus {
  background-size: 30%;
  background-color: @accent;
  color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
  box-shadow: 0px 0px 6px 6px @dark;
}


#shutdown {
  background-image: image(url("./icons/shutdown.png"));
}

#shutdown:focus {
  background-image: image(url("./icons/shutdown-focus.png"));
}


#reboot {
  background-image: image(url("./icons/reboot.png"));
}

#reboot:focus {
  background-image: image(url("./icons/reboot-focus.png"));
}


#lock {
  background-image: image(url("./icons/lock.png"));
}

#lock:focus {
  background-image: image(url("./icons/lock-focus.png"));
}


#suspend {
  background-image: image(url("./icons/suspend.png"));
}

#suspend:focus {
  background-image: image(url("./icons/suspend-focus.png"));
}
